{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>

<form id="notesForm" method="POST">
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
        <li class="list-group-item">
            <div style="display: flex; justify-content: space-between;">
                <input type="checkbox" value="{{ note.id }}" name="selected_notes[]"></input>
                {{ note.data }}
                <button type="submit" class="close" formaction="/note/{{ note.id }}/delete/">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>
    <br/>
    <div align="center" style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary" formaction="/send-note/">
            Send as email
        </button>
        <div style="width: 10px;"></div>
        <button type="submit" class="btn btn-primary" formaction="/download-note/">
            Download as pdf
        </button>
    </div>
</form>

<br/>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </div>
</form>
{% endblock %}