{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>

    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
        <li class="list-group-item">
            <div style="display: flex; justify-content: space-between;">
                <input type="checkbox" value="{{ note.id }}" name="mycheckbox"></input>
                {{ note.data }}
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>
    <br/>
    {% if user.notes %}
    <div align="center" style="display: flex; justify-content: center;">
        <form id="send_notes_form" method="POST" action="/send-note">
            <button type="submit" class="btn btn-primary" onclick="send_notes()">Send as email</button>
        </form>
                <div style="width: 10px;"></div>
        <form id="send_notes_form" method="POST" action="/download-note">
            <button type="submit" class="btn btn-primary" onclick="downloadNote()">Download as pdf</button>
        </form>
    </div>
    {% endif %}

<br/>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </div>
</form>
{% endblock %}
