{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% if user.notes %}
<h1 align="center">Notes</h1>
<form id="notesForm" method="POST">
    <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: column;">
                <input type="checkbox" value="{{ note.id }}" name="selected_notes[]">
            </div>
            <div style="flex: 1; text-align: center;">
                <b>{{ note.title }}</b>
                <br>
                {{ note.data }}
            </div>
            <div>
                <button type="submit" class="close" formaction="/note/{{ note.id }}/delete/">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </li>
    {% endfor %}
    </ul>
    <br>
    <div align="center">
        <!-- MODAL button -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareModal">
            Share with...
        </button>
        <!-- DOWNLOAD button -->
        <button type="submit" class="btn btn-primary" formaction="/download-note/">
            Download as pdf
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareModalLabel">Share with...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Username:
                    <input
                            type="username"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Enter username"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary d-grid mx-auto" formaction="/share-note/">Share</button>
                </div>
            </div>
        </div>
    </div>
</form>
<hr>
{% endif %}
<h1 align="center">New note</h1>
<br/>
<form method="POST">
    <textarea name="title" id="title" class="form-control" rows="1" placeholder="Note title"></textarea>
    <br/>
    <textarea name="note" id="note" class="form-control" rows="3" placeholder="Note content"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </div>
</form>

{% endblock %}
