{% extends "base.html" %}

{% block title %}
Shared
{% endblock %}

{% block content %}
<h1 align="center">Notes shared with you</h1>

<form id="notesForm" method="POST">
    <ul class="list-group list-group-flush" id="notes">
    {% for note in user.shared_notes %}
    <li class="list-group-item">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: column;">
                <input type="checkbox" value="{{ note.id }}" name="selected_notes[]">
            </div>
            <div style="flex: 1; text-align: center;">
                <b>From: {{ shared_by_users.get(note.id) }}</b>
                <br>
                <b>{{ note.title }}</b>
                <br>
                {{ note.data }}
            </div>
            <div>
                <button type="submit" class="close" formaction="/note/{{ note.id }}/delete/">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </li>
    {% endfor %}
    </ul>
    <br/>
    {% if shared_notes %}
    <div align="center" style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary" formaction="/add-note/">
            Add to your notes
        </button>
    </div>
    {% else %}
    <h3 align="center">No shared notes yet</h3>
    {% endif %}
</form>

{% endblock %}